In [54]:
import pymysql

connection = pymysql.connect(host='localhost',
                             user='root',
                             password='hasan123',
                             db='onlineshopping',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

cursor = connection.cursor()

CUSTOMER TABLE

In [55]:
cursor.execute("SELECT * FROM customer")
data = cursor.fetchall()
for row in data:
    row_data = list(row.values())
    print(row_data)

[20001, 'Jim', 'Brundle', '1234567890', 'Jim.Brundle@example.com']
[20002, 'Jane', 'Smith', '9876543210', 'jane.smith@example.com']
[20003, 'Michael', 'Jimson', '5555555555', 'michael.Jimson@example.com']
[20004, 'Emily', 'Davis', '9999999999', 'emily.davis@example.com']
[20005, 'Daniel', 'Watson', '1111111111', 'daniel.Watson@example.com']
[20006, 'Sarah', 'Brown', '2222222222', 'sarah.brown@example.com']
[20007, 'Matthew', 'Taylor', '3333333333', 'matthew.taylor@example.com']
[20008, 'Olivia', 'Anderson', '4444444444', 'olivia.anderson@example.com']
[20009, 'Andrew', 'Clark', '5555555555', 'andrew.clark@example.com']
[20010, 'Sophia', 'Lewis', '6666666666', 'sophia.lewis@example.com']

EMPLOYEE TABLE

In [56]:
cursor.execute("SELECT * FROM employee")
data = cursor.fetchall()
for row in data:
    row_data = list(row.values())
    print(row_data)

[40001, 'Jim', 'Smith']
[40002, 'Alice', 'Jimson']
[40003, 'David', 'Brown']
[40004, 'Emma', 'Watson']
[40005, 'James', 'Thompson']
[40006, 'Sophie', 'Lee']
[40007, 'Jacob', 'Harris']
[40008, 'Ava', 'Martin']
[40009, 'Benjamin', 'Walker']
[40010, 'Lily', 'Turner']

PERSON TABLE

In [57]:
cursor.execute("SELECT * FROM person")
data = cursor.fetchall()
for row in data:
    row_data = list(row.values())
    print(row_data)

[20001, 'Jim', 'Brundle']
[20002, 'Jane', 'Smith']
[20003, 'Michael', 'Jimson']
[20004, 'Emily', 'Davis']
[20005, 'Daniel', 'Watson']
[20006, 'Sarah', 'Brown']
[20007, 'Matthew', 'Taylor']
[20008, 'Olivia', 'Anderson']
[20009, 'Andrew', 'Clark']
[20010, 'Sophia', 'Lewis']
[40001, 'Jim', 'Smith']
[40002, 'Alice', 'Jimson']
[40003, 'David', 'Brown']
[40004, 'Emma', 'Watson']
[40005, 'James', 'Thompson']
[40006, 'Sophie', 'Lee']
[40007, 'Jacob', 'Harris']
[40008, 'Ava', 'Martin']
[40009, 'Benjamin', 'Walker']
[40010, 'Lily', 'Turner']

PRODUCTS

In [58]:
cursor.execute("SELECT * FROM product")
data = cursor.fetchall()
for row in data:
    row_data = list(row.values())
    print(row_data)

[60001, 'T-Shirt', 'Comfortable cotton t-shirt with a classic fit.', Decimal('10.99'), Decimal('4.50')]
[60002, 'Jeans', 'High-quality denim jeans with a straight leg cut.', Decimal('15.99'), Decimal('3.80')]
[60003, 'Sweatshirt', 'Cozy sweatshirt made of soft fleece material.', Decimal('8.99'), Decimal('4.20')]
[60004, 'Dress', 'Elegant knee-length dress with a floral pattern.', Decimal('12.99'), Decimal('4.70')]
[60005, 'Sneakers', 'Stylish sneakers with a cushioned sole for extra comfort.', Decimal('9.99'), Decimal('3.50')]
[60006, 'Jacket', 'Lightweight jacket suitable for cool weather.', Decimal('11.99'), Decimal('4.10')]
[60007, 'Skirt', 'Versatile skirt that can be dressed up or down.', Decimal('14.99'), Decimal('4.90')]
[60008, 'Shorts', 'Casual shorts made of breathable fabric.', Decimal('7.99'), Decimal('3.20')]
[60009, 'Blouse', 'Fashionable blouse with a flattering silhouette.', Decimal('10.99'), None]
[60010, 'Polo Shirt', 'Classic polo shirt for a polished casual look.', Decimal('13.99'), Decimal('4.45')]

INSERT NEW REVİEW ON A NON-ORDERED PRODUCT

In [59]:
str = "INSERT INTO reviews (review_ID, customer_ID, product_id, review_rating, review_description, review_date) \
VALUES (80001, 20007, 60001, 4.5, 'This is a great product!', '2023-06-20 10:30:00');"

try:
    cursor.execute(str)

except Exception as e:
    print(e)

(1644, 'You can only place a review for products you have ordered.')

INSERT REVİEW ON A PRODUCT AND SEE UPDATED RATING

In [60]:
cursor.execute("SELECT product_name, product_rating FROM product WHERE product_id = 60001")
data = cursor.fetchall()
print("Before review:")
for row in data:
    row_data = list(row.values())
    print(row_data)

str = "INSERT INTO reviews (customer_ID, product_id, review_rating, review_description, review_date) VALUES (20001, 60001, 1.0, 'This is a terrible product!', '2023-06-20 10:30:00')"

print("Give a bad review.")
try:
    cursor.execute(str)
    connection.commit()

except Exception as e:
    print(e)

print("After bad review:")
cursor.execute("SELECT product_name, product_rating FROM product WHERE product_id = 60001")
data = cursor.fetchall()
for row in data:
    row_data = list(row.values())
    print(row_data)

Before review:
['T-Shirt', Decimal('4.50')]
Give a bad review.
After bad review:
['T-Shirt', Decimal('2.75')]

DELETE THE LAST REVIEW

In [61]:
cursor.execute("SELECT product_name, product_rating FROM product WHERE product_id = 60001")
data = cursor.fetchall()
print("Before delete:")
for row in data:
    row_data = list(row.values())
    print(row_data)

str = "DELETE FROM reviews WHERE review_rating = 1.0"

try:
    cursor.execute(str)
    connection.commit()

except Exception as e:
    print(e)

print("After delete:")
cursor.execute("SELECT product_name, product_rating FROM product WHERE product_id = 60001")
data = cursor.fetchall()
for row in data:
    row_data = list(row.values())
    print(row_data)

Before delete:
['T-Shirt', Decimal('2.75')]
After delete:
['T-Shirt', Decimal('2.75')]

DISPLAY ORDER CONTENTS

In [62]:
str = "SELECT * FROM product_order_view"

try:
    cursor.execute(str)
    connection.commit()

except Exception as e:
    print(e)

data = cursor.fetchall()
for row in data:
    row_data = list(row.values())
    print(row_data)

[50001, 'T-Shirt', 2, Decimal('10.99')]
[50001, 'Jeans', 1, Decimal('15.99')]
[50002, 'Sweatshirt', 3, Decimal('8.99')]
[50002, 'Dress', 1, Decimal('12.99')]
[50003, 'Sneakers', 2, Decimal('9.99')]
[50003, 'Jacket', 1, Decimal('11.99')]
[50004, 'Skirt', 4, Decimal('14.99')]
[50004, 'Shorts', 2, Decimal('7.99')]
[50005, 'Blouse', 3, Decimal('10.99')]
[50005, 'Polo Shirt', 1, Decimal('13.99')]

CALCULATE TOTAL PRICE OF ORDERS

In [63]:
str = "SELECT orders_ID, calculate_total_price(orders_ID) AS total_price FROM orders;"

try:
    cursor.execute(str)
    connection.commit()

except Exception as e:
    print(e)

data = cursor.fetchall()
for row in data:
    row_data = list(row.values())
    print(row_data)

[50001, Decimal('37.97')]
[50002, Decimal('39.96')]
[50003, Decimal('31.97')]
[50004, Decimal('75.94')]
[50005, Decimal('46.96')]

CALCULATE THE TOTAL REVENUE OF THE STORE

In [65]:
str = "SELECT calculate_total_revenue();"
try:
    cursor.execute(str)
    connection.commit()

except Exception as e:
    print(e)

data = cursor.fetchall()
for row in data:
    row_data = list(row.values())
    print(row_data)

[Decimal('232.80')]

SEE DELIVERY STATUS OF ORDERS

In [64]:
str = "SELECT * FROM product_delivery_status;"

try:
    cursor.execute(str)
    connection.commit()

except Exception as e:
    print(e)

data = cursor.fetchall()
for row in data:
    row_data = list(row.values())
    print(row_data)

[60001, 100001, 'Store', datetime.datetime(2023, 6, 20, 10, 30)]
[60002, 100001, 'Store', datetime.datetime(2023, 6, 20, 10, 30)]
[60003, 100002, 'Washington Station', datetime.datetime(2023, 6, 21, 12, 45)]
[60004, 100002, 'Washington Station', datetime.datetime(2023, 6, 21, 12, 45)]
[60005, 100003, 'Finished', datetime.datetime(2023, 6, 22, 15, 20)]
[60006, 100003, 'Finished', datetime.datetime(2023, 6, 22, 15, 20)]
[60007, 100004, 'Store', datetime.datetime(2023, 6, 23, 14, 10)]
[60008, 100004, 'Store', datetime.datetime(2023, 6, 23, 14, 10)]
[60009, 100005, 'Texas Station', datetime.datetime(2023, 6, 24, 16, 35)]
[60010, 100005, 'Texas Station', datetime.datetime(2023, 6, 24, 16, 35)]